.game-on-container {
	flex: 1;
	display: grid;
	gap: 4rem;
}

.game-on-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.turn-indicator {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	block-size: 2.5rem;
	padding: 0.5rem 0.875rem;
	background-color: var(--semi-dark-navy);

	border-radius: 0.375rem;
	margin-block-end: 0.25rem;
	box-shadow: var(--shadow-sm);
}

.turn-indicator svg {
	inline-size: 1rem;
	block-size: 1rem;
}

.btn-restart {
	display: flex;
	align-items: center;
	justify-content: center;

	inline-size: 2.5rem;
	block-size: 2.5rem;
}

.board {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

.cell {
	background-color: var(--semi-dark-navy);
	block-size: 6rem;
	inline-size: 6rem;
	border-radius: 0.625rem;
}

.scoreboard {
	display: flex;
	gap: 1.25rem;
	color: var(--dark-navy);
	text-align: center;
	text-wrap: wrap;
}

.scoreboard p {
	inline-size: 6rem;
	block-size: 4rem;
	padding-block: 0.75rem;
	border-radius: 0.625rem;
}

.scoreboard p span {
	display: block;
}

.scoreboard .x {
	background-color: var(--cyan);
}

.scoreboard .ties {
	background-color: var(--silver);
}

.scoreboard .o {
	background-color: var(--yellow);
}

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 50%);
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;
}
