.game-on-container {
	display: grid;
	grid-template-rows: repeat(3, auto);
	margin: auto;
}

.game-on-header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: space-between;
}

.turn-indicator {
	background-color: var(--surface);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-sm);
	justify-self: center;

	inline-size: 6rem;
	block-size: 2.5rem;

	text-transform: uppercase;
	border-radius: var(--radius-sm);
	padding-block-end: var(--space-xs);
	box-shadow: inset var(--shadow-sm);
}

.turn-indicator svg {
	inline-size: 1rem;
	block-size: 1rem;
}

.btn-restart {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: end;

	inline-size: 2.5rem;
	block-size: 2.5rem;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: var(--space-xl);
	margin-block: 4rem var(--space-xl);
}

.cell {
	background-color: var(--surface);
	block-size: 6rem;
	inline-size: 6rem;
	border-radius: var(--radius-md);
	display: flex;
	justify-content: center;
	align-items: center;

	padding-block-end: var(--space-sm);
	box-shadow: inset var(--shadow-md);
}

.cell svg {
	inline-size: 2.5rem;
	block-size: 2.5rem;
}

.x svg {
	color: var(--primary);
}

.o svg {
	color: var(--secondary);
}

.cell-hover {
	opacity: 0;
}

.cell:hover .cell-hover {
	opacity: 1;
}

.cell:focus-visible .cell-hover {
	opacity: 1;
}

.cell-hover.x path {
	fill: none;
	color: var(--primary);
}

.cell-hover.o path {
	fill: none;
	color: var(--secondary);
}

.scoreboard {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-xl);
	color: var(--background);
	text-align: center;
	text-wrap: wrap;
}

.scoreboard p {
	inline-size: 6rem;
	block-size: 4rem;
	padding-block: var(--space-md);
	border-radius: var(--radius-md);
}

.scoreboard p span {
	display: block;
}

.scoreboard .x {
	background-color: var(--primary);
}

.scoreboard .ties {
	background-color: var(--text-primary);
}

.scoreboard .o {
	background-color: var(--secondary);
}

.overlay {
	position: fixed;
	inset: 0;
	background-color: hsl(0 0% 0% / 50%);
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 48rem) {
	.turn-indicator {
		inline-size: 8.75rem;
		block-size: 3.25rem;
		gap: var(--space-md);
		font-size: var(--fs-heading-xs);
	}

	.turn-indicator svg {
		inline-size: 1.25rem;
		block-size: 1.25rem;
	}

	.btn-restart {
		inline-size: 3.25rem;
		block-size: 3.25rem;
	}

	.board {
		margin-block: 1.25rem;
	}

	.cell {
		block-size: 8.75rem;
		inline-size: 8.75rem;
	}

	.cell svg {
		inline-size: 4rem;
		block-size: 4rem;
	}

	.scoreboard p {
		inline-size: 8.75rem;
		block-size: 4.5rem;
	}

	.scoreboard p span {
		display: block;
		font-size: var(--fs-heading-m);
	}
}
