.mark-container {
	position: relative;
	block-size: 4.5rem;
	background-color: var(--background);
	padding: 0.5rem;

	display: flex;
	margin-block: var(--space-2xl) var(--space-lg);
	border-radius: var(--radius-md);
}

.mark-container input {
	position: absolute;
	opacity: 0;
	block-size: 0;
	inline-size: 0;
}

.mark {
	flex: 1;
	display: grid;
	place-items: center;
	z-index: 1;

	cursor: pointer;
	transition: color 0s ease;
	border-radius: var(--radius-md);
}

.mark:hover {
	background-color: hsla(var(--silver) / 5%);
}

.mark svg {
	display: block;
	block-size: 2rem;
	inline-size: 2rem;
}

.slider {
	position: absolute;

	background-color: var(--text-primary);
	inline-size: calc(50% - 0.5rem);
	block-size: calc(100% - 1rem);
	border-radius: var(--radius-md);

	transition: transform 0.25s ease;
}

.mark-container:has(#option2:checked) .slider {
	transform: translateX(100%);
}

.mark-container:has(#option1:checked) .x-mark {
	color: var(--background);
}

.mark-container:has(#option2:checked) .o-mark {
	color: var(--background);
}
