.round-over {
	background-color: var(--surface);
	padding-block: 3rem;
	inline-size: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--space-lg);
}

.winner-player {
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

.winner-mark {
	display: flex;
	align-items: center;
	gap: var(--space-sm);
	color: var(--secondary);
}

.X {
	color: var(--primary);
}

.winner-mark svg {
	inline-size: 1.75rem;
	block-size: 1.75rem;
}

.winner-mark,
.tied {
	margin-block-end: var(--space-sm);
}

.btns {
	display: flex;
	gap: var(--space-lg);
}

@media (min-width: 48rem) {
	.round-over {
		gap: var(--space-2xl);
	}

	.winner-player {
		font-size: var(--fs-heading-xs);
	}

	.winner-mark {
		gap: var(--space-2xl);
	}

	.winner-mark svg {
		inline-size: 4rem;
		block-size: 4rem;
	}

	.winner-mark,
	.tied {
		font-size: var(--fs-heading-l);
		margin-block-end: var(--space-sm);
	}
}
