.round-over {
	background-color: var(--semi-dark-navy);
	padding-block: 3rem;
	inline-size: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.winner-player {
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

.winner-mark {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--yellow-light);
}

.X {
	color: var(--cyan);
}

.winner-mark svg {
	inline-size: 1.75rem;
	block-size: 1.75rem;
}

.winner-mark,
.tied {
	margin-block: 1rem 1.5rem;
}

.btns {
	display: flex;
	gap: 1rem;
}
