body {
	background-color: var(--background);
	color: var(--text-primary);
	font-family: var(--ff-primary);
}

#root {
	--max-width: 460px;
	--padding-inline: 1.5rem;

	inline-size: min(var(--max-width), 100% - var(--padding-inline) * 2);
	margin-inline: auto;

	display: flex;
	align-items: center;
	height: 100vh;
}

.new-game-menu {
	inline-size: 100%;
	display: grid;
	gap: 2rem;
}

.new-game-menu img {
	margin: 0 auto;
}

.main-header {
	background-color: var(--semi-dark-navy);
	padding: 1.5rem 1.5rem 1.875rem;
	border-radius: 1rem;
	text-align: center;

	box-shadow: inset var(--shadow-md);
}

.new-game-btns {
	display: grid;
	gap: 1rem;
}
