body {
	background-color: var(--background);
	color: var(--text-primary);
	font-family: var(--ff-primary);
}

#root {
	--max-width: 28.75rem; /*460px */
	--padding-inline: var(--space-2xl);

	inline-size: min(var(--max-width), 100% - var(--padding-inline) * 2);
	margin-inline: auto;

	display: flex;
	align-items: center;
	height: 100vh;
}

.new-game-menu {
	inline-size: 100%;
	display: grid;
	gap: var(--space-4xl);
}

.new-game-menu img {
	margin: 0 auto;
}

.main-header {
	background-color: var(--surface);
	padding: var(--space-2xl) var(--space-2xl) var(--space-4xl);
	border-radius: var(--radius-lg);
	text-align: center;

	box-shadow: inset var(--shadow-md);
}

.new-game-btns {
	display: grid;
	gap: var(--space-lg);
}

@media (min-width: 48rem) {
	.new-game-menu {
		gap: var(--space-6xl);
	}

	.new-game-btns {
		gap: var(--space-2xl);
	}
}
